<h1>Users</h1>
<% @users.each do |user| %>
  <p>image</p>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg" %>
  <p>name</p>
  <%= user.name %>
  <p></p>
  <%= link_to "show", user_path(user.id) %>
<% end %>